<h2 style="text-align:center">About Center</h2>
<h2 style="text-align:center">Know our center details </h2>



<div class="card-body">
   <div *ngIf="center">
     <label><b> Center Id is: </b></label>
      {{center.centerId}}<br>
      <label><b> Center Name is: </b></label>
      {{center.centerName}}<br>
      <label><b> Center Address is: </b></label>
      {{center.centerAddress}}<br>
      <label><b> Center Contact number is: </b></label>
      {{center.contactNumber}}<br>
      
  </div>

