<h1 class="bg-dark text-white text-monospace text-center"> Health Care System </h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a  class="nav-link" routerLink="home">Home<span class="sr-only">(current)</span></a>
          
        </li>

        <li class="nav-item active">
            <a  class="nav-link" routerLink="getcenters">View Centers list<span class="sr-only">(current)</span></a>
            
          </li>
         
          <li class="nav-item active">
            <a  class="nav-link" routerLink="getcenters/addcenter">Add center<span class="sr-only">(current)</span></a>
            
          </li>

          <li class="nav-item active">
            <a  class="nav-link" >View Test<span class="sr-only">(current)</span></a>
            
          </li>
          
          
      </ul>
      
    </div>
  </nav>

<router-outlet></router-outlet>