<div style="text-align:center">
  <br>
  <br>
  <br>
  <h1>Welcome to Our Health Application</h1>

  <h3> Health is wealth.</h3>
  <p> We care for you, and hence we are here...</p>
  <br>
  <div>
    <h4>Already user...then click below for Login</h4><a routerLink="/user-login"
      style="text-align:center;font-size: 20px;color: teal;text-underline-position: below;text-decoration: underline;">click
      here</a>

      <br>
      <h3>Will show you our Diagnostic Center Module</h3>
  
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
  <br>
  <br>
  <br><br>
  <br>
  <br>
  
  
  <br>
  <br>
  </div>
  <br><br>
  <br>
  <br>
  
  
  <br>
  <br>
  <br>
  
